@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  margin: 0 auto;
}
img {
  width: 100%;
}

h1 {
  text-align: center;
}

main {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  border-radius: 10%;
  border: 1px gray dotted;
}

h2 {
  font-size: 1rem;
  margin-top: 0;
}
.icon {
  height: 1.5rem;
  width: 1.5rem;
}
