@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  margin: 0 auto;
  color: #2f2e41;
}
img {
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

.card {
  margin-top: 2rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.6em;
  border: 0.1rem solid rgba(255, 99, 102, 255);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.card__green {
  border: 0.1rem solid rgb(116, 220, 84);
}

p {
  font-size: 1rem;
}
.icon {
  height: 1.5rem;
  width: 1.5rem;
}

@media only screen and (min-width: 600px) {
  img {
    width: 40%;
    display: block;
    margin: 0 auto;
  }

  h1 {
    font-size: 5rem;
  }

  .card {
    width: 50%;
    margin: 0 auto;
    margin-top: 4rem;
    justify-content: space-around;
  }

  p {
    font-size: 2.5rem;
  }

  .icon {
    margin: 0;
    height: 2.5rem;
    width: 2.5rem;
  }
}
